@import url('https://fonts.googleapis.com/css?family=Yeon+Sung|ZCOOL+QingKe+HuangYou&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin: 12px 0px;    
}

.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container{
   
}
.container h1{
    font-family: 'ZCOOL Qingke HuangYou';
}
.myInput{
    font-size: 16px;
    width: 40%;
    padding: 9px;
    margin: 8px;
    border: 2px solid red;
    border-radius: 12px;
    outline: none;
}
.btn{
    padding:12px 16px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background-color: red;
    cursor: pointer;
}